@media screen and (max-width: 768px) {
    .slideimages{
        background-size: cover;
        height:120px;
        width:278px;
        border-radius:20px;
    }
    }
    ::-webkit-scrollbar {
        display: none;
      }